<div class="paginator">
    <mat-paginator [length]="count"
              [pageSize]="pageSize"
              aria-label="Select Planet Page"
              (page)="onPageChange($event)"
              >
    </mat-paginator>
</div>
<app-loader>
<ng-container *ngIf="results">
    <div class="responsive-grid">
        <ng-container *ngFor="let item of results.results">
            <div class="outer-card-div">
                <div class="card">
                <!-- <mat-card> -->
                    <h3 class="card-heading">{{item.name}}</h3>
                        <mat-list>
                            <mat-list-item>
                              <mat-icon matListItemIcon>cloud</mat-icon>
                              <div matListItemTitle>{{item.climate}}</div>
                              <div matListItemLine>Climate</div>
                            </mat-list-item>
                            <mat-list-item>
                                <mat-icon matListItemIcon>rocket</mat-icon>
                                <div matListItemTitle>{{item.gravity}}</div>
                                <div matListItemLine>Gravity</div>
                            </mat-list-item>
                            <mat-list-item>
                                <mat-icon matListItemIcon>terrain</mat-icon>
                                <div matListItemTitle>{{item.terrain}}</div>
                                <div matListItemLine>Terrain</div>
                            </mat-list-item>
                            <mat-list-item>
                                <mat-icon matListItemIcon>people</mat-icon>
                                <div matListItemTitle>{{item.population}}</div>
                                <div matListItemLine>Population</div>
                            </mat-list-item>
                          </mat-list>

                        <button mat-raised-button color="primary" class="action-button" (click)="viewDetails(item)">View Details</button>
                <!-- </mat-card> -->
                </div>
            </div>
        </ng-container>
    </div>
</ng-container>
</app-loader>