<div style="display: flex; flex-direction: column; height: 100%;">
    <mat-toolbar color="primary">
        <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon" (click)="navbar.toggle()">
        <mat-icon>menu</mat-icon>
        </button>
        <span>{{title}} Geek - {{selectedRoute}}</span>
        <span class="example-spacer"></span>
    </mat-toolbar>
<mat-drawer-container style="flex: 1;" hasBackdrop="false">
    <mat-drawer [opened]="true" mode="side" #navbar>
        <mat-nav-list style="  margin: 1rem;">
            <mat-list-item (click)="showInfo(link)" *ngFor="let link of navigation" [ngClass]="{'nav-style' : link.isActive}" [activated]="link.isActive">
               <a matListItemTitle>{{ link.title }}</a>
            </mat-list-item>
          </mat-nav-list>
    </mat-drawer>
    <mat-drawer-content style="overflow-y: scroll;">
        <div class="main">
            <router-outlet></router-outlet>
        </div>
    </mat-drawer-content>
</mat-drawer-container>
</div>
