.example-container {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }
  
  .example-events {
    width: 300px;
    height: 200px;
    overflow: auto;
    border: 1px solid #555;
  }

  .example-spacer {
    flex: 1 1 auto;
  }

  ::ng-deep mat-drawer{
    width: 200px !important;
  }

  ::ng-deep mat-drawer-container { flex: 1 1 auto; }

mat-drawer{
//     s
}
mat-drawer-content{
    // background-color: rgb(111, 0, 0);
    background-image: url(/assets/white-2484120_640.png) ;
    background: rgb(71,71,71);
    background: linear-gradient(135deg, rgba(71,71,71,1) 0%, rgba(0,0,0,1) 100%);
}

.nav-style{
  background: rgba(255, 255, 255, 0.21);
  border-radius: 8px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(3.9px);
  -webkit-backdrop-filter: blur(3.9px);
  border: 1px solid rgba(255, 255, 255, 0.5);
  color: white;
  a{
    color: white !important;
  }
}

